external_url "{{ gitlab_external_url }}"

gitlab_rails['time_zone'] = "{{ gitlab_time_zone }}"
gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}
gitlab_rails['block_auto_created_users'] = {{ gitlab_block_auto_created_users | lower }}

gitlab_rails['gitlab_email_enabled'] = {{ gitlab_email_enabled | lower }}
{% if gitlab_email_enabled %}
gitlab_rails['gitlab_email_from'] = "{{ gitlab_email_from }}"
gitlab_rails['gitlab_email_display_name'] = "{{ gitlab_email_display_name }}"
gitlab_rails['gitlab_email_reply_to'] = "{{ gitlab_email_reply_to }}"
{% endif %}

gitlab_rails['gitlab_default_theme'] = "{{ gitlab_default_theme }}"

nginx['redirect_http_to_https'] = {{ gitlab_redirect_http_to_https | lower }}
nginx['ssl_certificate'] = "{{ gitlab_ssl_certificate }}"
nginx['ssl_certificate_key'] = "{{ gitlab_ssl_certificate_key }}"

letsencrypt['enable'] = {{ gitlab_letsencrypt_enable | lower }}
{% if gitlab_letsencrypt_enable %}
letsencrypt['contact_emails'] = {{ gitlab_letsencrypt_contact_emails | to_json }}
letsencrypt['auto_renew_hour'] = "{{ gitlab_letsencrypt_auto_renew_hour }}"
letsencrypt['auto_renew_minute'] = "{{ gitlab_letsencrypt_auto_renew_minute }}"
letsencrypt['auto_renew_day_of_month'] = "{{ gitlab_letsencrypt_auto_renew_day_of_month }}"
letsencrypt['auto_renew'] = {{ gitlab_letsencrypt_auto_renew | lower }}
{% endif %}

{% if gitlab_version is version("18.0", "<") %}
git_data_dirs({"default" => {"path" => "{{ gitlab_git_data_dir }}"} })
{% else %}
gitaly['configuration'] = {
    storage: [
      {
         name: 'default',
         path: '{{ gitlab_git_data_dir }}/repositories',
      },
    ]
}
{% endif %}

gitlab_rails['backup_path'] = "{{ gitlab_backup_path }}"
{% if gitlab_backup_upload_location | default(false) %}
gitlab_rails['backup_upload_connection'] = {{ gitlab_backup_upload_location | to_json }}
{% endif %}
{% if gitlab_backup_upload_remote_directory | default(false) %}
gitlab_rails['backup_upload_remote_directory'] = "{{ gitlab_backup_upload_remote_directory }}"
{% endif %}

gitlab_rails['smtp_enable'] = {{ gitlab_smtp_enable | lower }}
{% if gitlab_smtp_enable %}
gitlab_rails['smtp_address'] = "{{ gitlab_smtp_address }}"
gitlab_rails['smtp_port'] = {{ gitlab_smtp_port }}
{% if gitlab_smtp_user_name | default(false) %}
gitlab_rails['smtp_user_name'] = "{{ gitlab_smtp_user_name }}"
{% endif %}
{% if gitlab_smtp_password | default(false) %}
gitlab_rails['smtp_password'] = "{{ gitlab_smtp_password }}"
{% endif %}
gitlab_rails['smtp_domain'] = "{{ gitlab_smtp_domain }}"
{% if gitlab_smtp_authentication | default(false) %}
gitlab_rails['smtp_authentication'] = "{{ gitlab_smtp_authentication }}"
{% endif %}
gitlab_rails['smtp_enable_starttls_auto'] = {{ gitlab_smtp_enable_starttls_auto | lower }}
gitlab_rails['smtp_tls'] = {{ gitlab_smtp_tls | lower }}
gitlab_rails['smtp_openssl_verify_mode'] = "{{ gitlab_smtp_openssl_verify_mode }}"
gitlab_rails['smtp_ca_path'] = "{{ gitlab_smtp_ca_path }}"
gitlab_rails['smtp_ca_file'] = "{{ gitlab_smtp_ca_file }}"
{% endif %}

registry['enable'] = {{ gitlab_registry_enable | lower }}
{% if gitlab_registry_enable %}
registry_external_url "{{ gitlab_registry_external_url }}"
registry_nginx['ssl_certificate'] = "{{ gitlab_registry_nginx_ssl_certificate }}"
registry_nginx['ssl_certificate_key'] = "{{ gitlab_registry_nginx_ssl_certificate_key }}"
{% if gitlan_registry_path | default(false) %}
gitlab_rails['registry_path'] = "{{ gitlan_registry_path }}"
{% endif %}
{% endif %}
{% if gitlab_omniauth_providers | default(false) %}

gitlab_rails['omniauth_providers'] = {{ gitlab_omniauth_providers | to_json }}
gitlab_rails['omniauth_allow_single_sign_on'] = {{ gitlab_omniauth_allow_single_sign_on | to_json }}
gitlab_rails['omniauth_auto_link_user'] = {{ gitlab_omniauth_auto_link_user | to_json }}
{% if gitlab_omniauth_auto_link_user | default(false) %}
gitlab_rails['omniauth_allow_bypass_two_factor'] = {{ gitlab_omniauth_allow_bypass_two_factor | to_json }}
{% endif %}
{% endif %}
{% if gitlab_extra_config | default(false) %}

{{ gitlab_extra_config }}
{% endif %}
